*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: mplusRegular;
    src: url(font/MPLUSRounded1c-Regular.ttf);
}
@font-face {
    font-family: mplusthin;
    src: url(font/MPLUSRounded1c-Thin.ttf);
}
@font-face {
    font-family: mplusBold;
    src: url(font/MPLUSRounded1c-Bold.ttf);
}
@font-face {
    font-family: mplusXbold;
    src: url(font/MPLUSRounded1c-ExtraBold.ttf);
}
/* #wrapper.container{
    display: flex;
    
} */
.nav-icon{
    display: flex;
    background-color: #FFDDBB;
    justify-content: center;
    height: 100px;
}
.nav-icon img {
    height: 30px;
    align-content: center;
    padding: 10px;
    margin-top: 30px;

}
.hero-content {
    background-color: #FFDDBB;
    width: 100%;
    height: 515px;
    display:flex;
}
.hero-content h1 {
    margin-top: 100px;
    font-family: mplusXbold;
    font-size: 60px;
    line-height: 70px;
    color: #00284A
}
.hero-content-text {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    flex-direction: column;
    flex: 1;
}
.hero-content-image{
    display: flex;
    flex-wrap:nowrap;
    flex: 1;
    text-align: center;
    margin-top: 60px;
}
.hero-content-image img {
    width: 85%;
    margin: -120px;
}
.buttoncontainer{
    display: flex;
    justify-content: start;
}
.buttoncontainer button{
    display: flex;
    justify-content: center;
    padding: 12px 0px 12px 0px;
    margin: 32px 32px 0px 0px;
    min-width: 180px;
    border: none;
    border-radius: 7px;
    background: rgb(207, 73, 87);
    background: linear-gradient(180deg, rgba(207, 73, 87, 1) 14.000000000000002%, rgba(131, 69, 99, 1) 91%);
}
.buttoncontainer img{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width:10%;
    padding: 0px 10px 0px 5px;
}
.buttoncontainer h4 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2px 0px 0px 0px;
    font-size:14px;
    font-family:mplusXbold;
    color: #fff;
}
footer{
    background-color: #00284A;
    width: 100%;
    height: 80px;
}

.contactDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 48px 0px 48px;
    color: #fff;
    order: 1;
    letter-spacing: 1px;
}
.typingText{
    font-family: mplusthin;
    font-style: italic;
}
.typed-cursor {
    font-size: 60px;
    color: #F44950;
    font-family: mplusRegular;
}
@media screen and (max-device-width: 780px){
    .nav-icon{
        height: 100%;
        width:100%
    }
    .nav-icon img {
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 50px;
    }
    .hero-content {
        width: 100%;
        
    }
    .hero-content h1 {
        margin: 30px 15px 30px 15px;
        font-size: 45px;
    }
    .hero-content-text {
        padding: 0px;
    }
    .buttoncontainer{
        display: flex;
        flex: nowrap;
        justify-content: space-evenly;
        padding: 0px 0px 0px 5px;
    }
    .buttoncontainer button{
        margin: 0px 10px 10px 0px;
        padding: 16px;
        font-size: 16px;
    }
    .hero-content-image{
        display: none;
    }
    footer {
        width: 100%;
    }
    .contactDetails {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}