* {
    padding: 0px;
    margin: 0px;
}
html,body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

@font-face {
font-family: mplusRegular;
src: url(\font\MPLUSRounded1c-Regular.ttf);
}

@font-face {
font-family: mplusthin;
src: url(\font\MPLUSRounded1c-Thin.ttf);
}

@font-face {
font-family: mplusBold;
src: url(/font/MPLUSRounded1c-Bold.ttf);
}

@font-face {
font-family: mplusXbold;
src: url(/font/MPLUSRounded1c-ExtraBold.ttf);
}
/* #wrapper.container{
} */

.container {
    width: 100%;
}

.nav-icon {
    display: flex;
    background-color: #FFDDBB;
    justify-content: center;
    padding: 20px;
}

.nav-icon img {
height: 40px;
align-content: center;
padding: 10px;
}

.hero-content {
background-color: #FFDDBB;
width: 100%;
height: 560px;
display: flex;
flex-wrap: nowrap;
}

.hero-content h1 {
margin-top: 80px;
padding-left: 50px;
font-family: mplusXbold;
font-size: 60px;
line-height: 70px;
color: #00284A
}

.hero-content-text {
display: flex;
flex-wrap: wrap;
flex-direction: column;
flex: 1;
}

.hero-content-image {
display: flex;
align-items: center;
flex-wrap: nowrap;
flex: 1;
text-align: -webkit-center;
}

.hero-content-image img {
display: flex;
flex-wrap: nowrap;
width: 80%;
margin: 80px 0px 0px 0px;
}

.buttoncontainer {
display: flex;
padding: 30px 0px 30px 50px;
}

.buttoncontainer button {
display: flex;
justify-content: center;
margin: 0px 50px 0px 0px;
padding: 12px 0px 12px 0px;
min-width: 160px;
border: none;
border-radius: 7px;
background: rgb(207, 73, 87);
background: linear-gradient(180deg, rgba(207, 73, 87, 1) 14.000000000000002%, rgba(131, 69, 99, 1) 91%);
}

.buttoncontainer img {
display: flex;
align-content: center;
justify-content: space-between;
width: 10%;
padding: 0px 10px 0px 5px;
}

.buttoncontainer h4 {
display: flex;
justify-content: space-between;
align-content: center;
padding: 2px 0px 0px 0px;
font-size: 14px;
font-family: mplusXbold;
color: #fff;
}

footer {
background-color: #00284A;
width: 100%;
height: 80px;
}

.contactDetails {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 100%;
padding: 0px 48px 0px 48px;
color: #fff;
order: 1;
letter-spacing: 1px;
}

.typingText {
font-family: mplusthin;
overflow: hidden;
white-space: nowrap;
font-style: italic;
}

.typed-cursor {
font-size: 60px;
color: #F44950;
font-family: mplusRegular;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .typingText{
        display: none;
        }
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 1024px) {
* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
html,body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.nav-icon {
    width: 100%;
    padding: 10px;
    height: 100%;
}
.nav-icon img {
    align-content: center;
    padding: 10px;
}
.hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.hero-content-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.hero-content h1 {
    margin-top: 80px;
    padding-left: 50px;
    font-family: mplusXbold;
    font-size: 60px;
    line-height: 70px;
    color: #00284A
}

.hero-content-image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: -webkit-center;
}

.hero-content-image img {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px 0px 0px 0px;
}
.typingText{
        display: 
        }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
}

* pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (-webkit-device-pixel-ratio: 2) {
     .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .nav-icon {
        width: 100%;
        padding: 20px;
        height: 100%;
    }
    .nav-icon img {
        align-content: center;
        padding: 8px;
    }
    .hero-content {
        margin: 0px;
        width: 100%;
    }

    .hero-content h1 {
        justify-content: center;
        align-items: center;
        padding: 100px 10px 60px 15px;
        margin: 0px;
        font-size: 40px;
        line-height: 60px;
        font-family: mplusXbold;
    }
    .hero-content-text {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;

    }
    .buttoncontainer {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0px 10px 0px;
        justify-content: space-evenly;
    }
    .buttoncontainer button {
        display: flex;
        flex: wrap;
        margin: 0px;
        padding: 12px;
        font-size: 16px;
        font-family: mplusXbold;
    }
    .hero-content-image {
        display: none;
    }
    footer {
        width: 100%;
    }
    .contactDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .typingText{
        display: none;
        }
}



/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 481px) and (max-height: 767px) {

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.nav-icon {
    width: 100%;
    padding: 10px;
    height: 100%;
}
.nav-icon img {
    align-content: center;
    padding: 10px;
}
.hero-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hero-content h1 {
    justify-content: center;
    padding-left: 0px;
    margin: 80px 0px 30px 30px;
    font-size: 60px;
    font-family: mplusXbold;
}
.hero-content-text {
    padding: 0px;
}
.buttoncontainer {
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 0px 30px 30px;
}
.buttoncontainer button {
    display: flex;
    flex: wrap;
    margin: 0px 20px 0px 0px;
    padding: 12px;
    font-size: 16px;
    font-family: mplusXbold;
}
.hero-content-image {
    display: flex;
    justify-content: center;
    order: 1;

}
footer {
    width: 100%;
}
.contactDetails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.typingText{
        display: none;
        }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .nav-icon {
        width: 100%;
        padding: 20px;
        height: 100%;
    }
    .nav-icon img {
        align-content: center;
        padding: 8px;
    }
    .hero-content {
        margin: 0px;
        width: 100%;
    }

    .hero-content h1 {
        justify-content: center;
        padding: 100px 10px 60px 15px;
        margin: 0px;
        font-size: 40px;
        line-height: 60px;
        font-family: mplusXbold;
    }
    .hero-content-text {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;

    }
    .buttoncontainer {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0px 10px 0px;
        justify-content: space-evenly;
    }
    .buttoncontainer button {
        display: flex;
        flex: wrap;
        margin: 0px;
        padding: 12px;
        font-size: 16px;
        font-family: mplusXbold;
    }
    .hero-content-image {
        display: none;
    }
    footer {
        width: 100%;
    }
    .contactDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .typingText{
        display: none;
        }
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
     .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .nav-icon {
        width: 100%;
        padding: 20px;
        height: 100%;
    }
    .nav-icon img {
        align-content: center;
        padding: 8px;
    }
    .hero-content {
        margin: 0px;
        width: 100%;
    }

    .hero-content h1 {
        justify-content: center;
        padding: 100px 10px 60px 15px;
        margin: 0px;
        font-size: 40px;
        line-height: 60px;
        font-family: mplusXbold;
    }
    .hero-content-text {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;

    }
    .buttoncontainer {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0px 10px 0px;
        justify-content: space-evenly;
    }
    .buttoncontainer button {
        display: flex;
        flex: wrap;
        margin: 0px;
        padding: 12px;
        font-size: 16px;
        font-family: mplusXbold;
    }
    .hero-content-image {
        display: none;
    }
    footer {
        width: 100%;
    }
    .contactDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .typingText{
        display: none;
        }
}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 240px) and (max-width: 480px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .nav-icon {
        width: 100%;
        padding: 20px;
        height: 100%;
    }
    .nav-icon img {
        align-content: center;
        padding: 8px;
    }
    .hero-content {
        margin: 0px;
        width: 100%;
    }

    .hero-content h1 {
        justify-content: center;
        padding: 100px 10px 60px 15px;
        margin: 0px;
        font-size: 40px;
        line-height: 60px;
        font-family: mplusXbold;
    }
    .hero-content-text {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;

    }
    .buttoncontainer {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0px 10px 0px;
        justify-content: space-evenly;
    }
    .buttoncontainer button {
        display: flex;
        flex: wrap;
        margin: 0px;
        padding: 12px;
        font-size: 16px;
        font-family: mplusXbold;
    }
    .hero-content-image {
        display: none;
    }
    footer {
        width: 100%;
    }
    .contactDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .typingText{
        display: none;
        }
}